vendor/
node_modules/
.env
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.sql
*.zip
.DS_Store
core/public/direct-login.html
aws-deployment/*.csv
